{% extends 'base.html' %}

{% block titulo %}Cadastro de novos veiculos{% endblock %}

{% block conteudo %}
<div class="container">

<form action="/veiculo/novo/" method="post" enctype="multipart/form-data">
    {%csrf_token %}
    <div class="row">
        <div class="col-6">
            <div class="container" id="campos">
            <div class="form-group">
                <label for="marca" class="form-label">Marca</label>
                {{form.marca}}
            </div>
            <div class="form-group">
                <label for="modelo" class="form-label">Modelo</label>
                {{form.modelo}}
            </div>
            <div class="form-group">
                <label for="ano" class="form-label">Ano</label>
                {{form.ano}}
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="cor" class="form-label">Cor</label>
                {{form.cor}}
            </div>
            <div class="form-group">
                <label for="Combustivel" class="form-label">Combustivel</label>
                {{form.combustivel}}
            </div>
            <div class="form-group">
                <label for="foto" class="form-label">Foto</label>
                {{form.image}}
            </div>
        </div>
            </div>
            
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
    
</form>
</div>
{% endblock %}